<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="description">
    <title>Techkids Hot Girls</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/css/body.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/content.css">
    <link rel="stylesheet" href="{{cssPath}}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://imagesloaded.desandro.com/imagesloaded.pkgd.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
<header class="header">
    <div class="container">
        <div class="row">
            <form class="col-md-3 search-panel">
                <input type="text" placeholder="Search..." name="" class="form-control">
                <i class="fa fa-search"></i>
            </form>
            <div class="col-md-6 logo-panel">
                <a href="/">
                    <img src="/static/images/Logo.png" alt="Techkids Logo">
                </a>
            </div>
            <div class="col-md-3">
                <div class="user-panel">
                    <button>
                        <i class="fa fa-camera"></i>
                    </button>
                    <button>
                        <i class="fa fa-bars"></i>
                    </button>
                    {{#if username}}
                        <form class="username" action="/api/users/logout" method="post">
                            <span>{{username}}</span>
                            <button type="submit">Log Out</button>
                        </form>
                    {{else}}
                        <form class="login" method="post" action="/api/users/login">
                            <input type="text" name="username">
                            <input type="password" name="password">
                            <input type="checkbox" name="remember">
                            <input type="submit">
                        </form>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</header>
{{{body}}}
</body>

</html>
