<form action="/question" method="post">
    <label for="question-input" style="cursor: pointer">Question: </label>
    <input type="hidden" name="action" value="ask">
    <input type="text" name="question" id="question-input"/>
    <input type="submit">
</form>