<div class="question-display">
    <h2 class="question-display__content">{{questionContent}}</h2>
    <div class="question-display__voting">
        <div class="question-display__voting-bar-yes" style="width: {{yesPercent}}%">
        </div>
    </div>
    <h2 class="question-display__vote-no">{{questionNo}} <i class="fa fa-thumbs-o-down"></i></h2>
    <h2 class="question-display__vote-yes">{{questionYes}} <i class="fa fa-thumbs-o-up"></i></h2>
    <a href="/question" class="question-display__btn">Câu hỏi khác</a>
</div>