<div class="question-display">
    <h2 class="question-display__content">{{questionContent}}</h2>
    <div class="question-display__voting">
        <div class="question-display__voting-bar-yes" style="flex-basis: {{yesPercent}}%">
            {{questionYes}}
        </div>
        <div class="question-display__voting-bar-no">{{questionNo}}</div>
    </div>
</div>