@import "./common.scss";

.question-form {
  @include container();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 6rem;

  &__content {
    text-align: center;
    font-size: 2rem;
    flex-basis: 100%;
    margin-bottom: 4rem;
  }

  &__button-wrapper {
    flex-basis: 100%;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__button {
    @include btn;
    border-radius: 8px;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    font-weight: 300;
    &--yes {
      @include button-variant($yes-color, $yes-color);
    }
    &--no {
      @include button-variant($no-color, $no-color);
    }
  }

  &__navigation {
    text-align: center;
    margin: 0 auto;
    flex-basis: auto;
  }
  &__navigation-link {
    @include btn;
    @include button-outline-variant(map_get($theme-colors, "secondary"));
    margin-right: 0.5rem;
    font-weight: 300;
    &:last-child {
      margin-right: 0;
    }
  }
  &__like-btn {
    $btn-color: theme-color("success");
    @include btn;
    @include button-variant($btn-color, $btn-color);
    cursor: pointer;
    margin-bottom: 0.5rem;
    display: block;
    width: 100%;
  }
}