@import "./common.scss";

.question-form {
  @include container();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  @include fixed-from-top(30%);
  transform: translateX(-50%);

  &__content {
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 3rem;
  }
  &__button {
    flex-basis: calc(50% - 0.5rem);
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    font-weight: 300;

    &--yes {
      background-color: $yes-color;
    }
    &--no {
      background-color: $no-color;
    }
  }
}