@import "./common.scss";

.question-display {
  @include container();
  @include fixed-from-top(40%);
  width: 100%;

  &__content {
    text-align: center;
    margin-bottom: 3rem;
  }

  &__voting {
    width: 100%;
    display: flex;
    color: white;
    font-weight: 300;
    border-radius: 4px;
    align-items: stretch;
    overflow: hidden;
  }

  @mixin voting-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.75rem;
  }

  &__voting-bar-yes {
    flex-basis: 50%;
    background-color: $yes-color;
    @include voting-bar;
  }

  &__voting-bar-no {
    flex-grow: 1;
    background-color: $no-color;
    @include voting-bar;
  }
}