@import "./common.scss";

.question-display {
  @include container();
  @include fixed-from-top(30%);
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__content {
    text-align: center;
    margin-bottom: 2rem;
    flex-basis: 100%;
  }

  &__voting {
    height: 2rem;
    width: 100%;
    flex-basis: 100%;
    color: white;
    font-weight: 300;
    border-radius: 4px;
    align-items: stretch;
    overflow: hidden;
    background-color: $no-color;
    margin-bottom: 1rem;
  }

  &__voting-bar-yes {
    background-color: $yes-color;
    height: 100%;
  }
}