body {
  background-color: #e3e3e3; }

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding-bottom: 30px;
  margin-right: -15px;
  margin-left: -15px; }

.left-branch {
  margin-right: 15px;
  margin-left: 15px;
  flex-basis: 30%;
  display: flex;
  flex-direction: column; }
  @media (max-width: 767px) {
    .left-branch {
      flex-basis: 100%; } }

.right-branch {
  margin-right: 15px;
  margin-left: 15px;
  flex: 1 1;
  display: flex;
  flex-direction: column; }

.section {
  border-radius: 4px;
  background-color: white;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 0;
  flex: 0 0; }
  .section:hover {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4); }
  .section__image {
    max-width: 100%;
    height: auto; }
  .section__title {
    font-size: 1.5rem;
    color: #458fcc; }
  .section__paragraph {
    text-align: left;
    font-size: 1.1rem; }
    .section__paragraph:last-child {
      margin-bottom: 8px; }
  .section__contact p:last-child {
    margin-bottom: 8px; }
  .section--primary {
    background-color: #458fcc;
    color: white; }
    .section--primary .section__title {
      color: white; }
    .section--primary .hr {
      border-top-color: white; }
    .section--primary a {
      color: white;
      text-decoration: underline; }
  .section--secondary {
    background-color: gray;
    color: white; }
    .section--secondary .section__title {
      color: white; }
    .section--secondary .hr {
      border-top-color: white; }
    .section--secondary a {
      color: white;
      text-decoration: underline; }

.hr {
  border-top: 1px solid black; }

.text-group {
  margin-bottom: 30px; }
  .text-group:last-child {
    margin-bottom: 0; }
  .text-group__title {
    font-size: 1.2rem;
    font-weight: bold; }
  .text-group__subtitle {
    font-size: 1.2rem;
    color: #458fcc; }
  .text-group__text {
    margin-bottom: 5px; }

.social-container {
  padding-bottom: 8px; }
  .social-container__button {
    display: flex;
    align-content: center;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 20px;
    padding: 10px; }
    .social-container__button:hover {
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4); }
  .social-container__icon {
    width: 40px;
    height: 40px; }
  .social-container__name {
    margin: 0;
    padding-left: 15px;
    line-height: 40px;
    color: black; }

.link-button {
  color: #458fcc; }
  .link-button.link-button--red {
    color: #ff6447; }
