<form action="" id="chatForm">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username"/>
    </div>

    <div>
        <label for="recipientInput">Send Message To</label>
        <input type="text" id="recipientInput">
    </div>

    <div>
        <label for="message">Message</label>
        <input type="text" id="message">
    </div>

    <div>
        <button id="sendMessageButton">Send Message</button>
    </div>
</form>

<div>
    <button type="button" id="joinServer">Join Server</button>
</div>

<div id="chatMessages">

</div>
<script src="/static/js/socketChat.js"></script>